@model IEnumerable<WebStore.BusinessLogic.DTO.Category.CategoryDTO>
@{
    ViewBag.Title = "Categories";
}

<h2>GetCategories</h2>

@foreach (var category in @Model)
{
    <p>
        <h3>@category.Id - @category.Name - @category.CountOfProducts</h3>
    </p>
}

